#logging.level:DEBUG, INFO, WARN, ERROR, OFF
logging.level=${SA_LOG_LEVEL::INFO}
#logging.type:STDOUT, FILE
logging.type=${SA_LOG_TYPE::FILE}
logging.file_name=${SA_LOG_FILE::monitor-agent.log}

agent.server_name=${SA_SERVER_NAME::server-demo}
remote.collector_url=${SA_COLLECTOR_URL::http://127.0.0.1:8080/collect}